{% extends "header.html" %}
{% block content %}
<div class="container">
    <br>
    <h2> Are you sure you want to delete {{restaurant.name}}? </h2>
    <div class="row">
        <div class="col-md-1">
            <form action="#" method = 'post'>
            <button type="submit" class="btn btn-outline-danger delete">Delete</button>
            </form>
        </div>
        <div class="col-md-1">
            <a href = '{{url_for('showRestaurants')}}'>
            <button class="btn btn-outline-primary">Cancel</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}